<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Настани</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/galery")
    
    <style>
         .cell{
            border-color:black;
            border-width:1px;
            border-radius: 1em;
            border-style: outset;
            width: 25em;
            height: 11em;
            overflow-x: hidden;
            overflow-y: hidden;
            margin: 10px;            
        }
         .cell p {
            font-size: small;
            font-weight: 600;
        }
         .background-img {
            position: absolute;
            left: 0;
            top: 0;            
            opacity: 0.6;
            z-index: -1;            
        }
        footer {
            bottom: 0;
            position: absolute;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("НАСТАНИ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Дома", "Events", "Home")</li>
                    <li>@Html.ActionLink("За нас", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()           
        <footer>
            <p>&copy; @DateTime.Now.Year - Настани</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
